:root {
    /* global scope */
    --primary-bg-color: #FCC3A4;

    --secondary-bg-color: #70bec7;

    --primary-border-color: #0cbdb7;

    --secondary-border-color: #9A733A;

    --primary-highlight-color: #fbfdc8;

    --star-color: #bf2dcd;

    --visit-marker-color: #a47ca8;
}

/* GENERAL STYLES */
@font-face {
    font-family: "Nouveau";
    src: url("/static/fonts/Excalibur Nouveau.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FacultyGlyphic";
    src: url("/static/fonts/FacultyGlyphic-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


h1 {
    font-family: "Nouveau", serif;
    letter-spacing: 0.03em;

    text-align: center;
}


h2 {
    font-family: "FacultyGlyphic", serif;
    /* font-family: 'Playfair Display', serif; */

}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: var(--primary-bg-color);
}

.banner-line {
    border: 2px solid var(--primary-border-color);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
}

.flex-container img {
    max-width: 500px;
    border-radius: 10px;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    background-color: var(--primary-highlight-color);
    padding: 5px 30px;
}

.flex-container-2 img {
    max-width: 500px;
    border-radius: 10px;
}

.content-box {
    background-color: var(--primary-highlight-color);
    border: 3px solid var(--primary-border-color);
    border-radius: 8px;
    /* Optional rounded corners */
    padding: 1rem;
    /* Space between border and content */
    margin: 1.5rem 0;
    /* Space above and below the box */
}

/* LOGO STYES */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo {
    height: 150px;
}

/* MAP STYLES */
#map {
    width: 100%;
    height: 65vh;
}

.map-popup {
    width: min(300px, 80vw);
}

.map-popup img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.location-card {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.section-divider {
    /*   border: none;                 /* Remove the default HR border */
    border: 3px solid var(--primary-border-color);
    /* margin: 2rem 0;               /* Optional spacing above and below */
    /*  width: 100%; */
}

.location-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.numbered-marker {
    background-color: var(--visit-marker-color);
    color: white;
    border-radius: 50%;
    width: 28px !important;
    height: 28px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid var(--visit-marker-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* POPUP DATA STYLES */
.subtitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.meta {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.joel-label {
    color: var(--secondary-border-color);
}

.michael-label {
    color: var(--primary-border-color);
}

/* STAR RATING STYLES */
.star {
    font-size: 2vh;
    cursor: pointer;
}

.star-rating {
    color: var(--star-color);
}


.person-label {
    font-size: 14px;
    font-weight: 700;
}

/* Admin Styles */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* left/right */
    align-items: center;
    /* up/down */
}

.success-message {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}