<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="/static/assets/peach_dot.png">
    <!-- <link rel="icon" type="image/x-icon" href="assets/peach_dot.png"> -->

    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->

    <meta charset="UTF-8">
    <title>Add Visit</title>

    <style>
        body {
            font-family: 'Playfair Display', serif;
            margin: 20px;
        }

        label {
            margin-right: 12px;
        }
    </style>
</head>

<body>
    <div>
        <img src="/static/assets/paradise_pelican.png" alt="Atlas Paradiso Logo" class="logo" height="170px">
    </div>
    <div class="content-box">
        <h1>Gazetteer</h1>
        <details>
            <summary style="display:inline;">
                <h2>Cities ({{city_count}})</h2>
            </summary>
            {% for location in locations %}
            {% if location.location_type_id == 1 %}
            {{ location.name }}, {{ location.state_province }}, {{ location.country}} <br>
            {% endif %}
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>National Parks ({{parks_count}})</h2>
            </summary>
            {% for location in locations %}
            {% if location.location_type_id == 2 %}
            {{ location.name }}, {{ location.state_province }}, {{ location.country}} <br>
            {% endif %}
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Landmarks ({{landmarks_count}})</h2>
            </summary>
            {% for location in locations %}
            {% if location.location_type_id == 3 %}
            {{ location.name }}, {{ location.state_province }}, {{ location.country}} <br>
            {% endif %}
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>US Capitols and Canadian Legislative Buildings ({{us_capitol_count}})</h2>
            </summary>
            {% for capitol in us_capitols %}
                {{capitol.state_province}} ({{capitol.city}}) <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Theatres ({{theatre_count}})</h2>
            </summary>
            {% for theatre in theatres %}
                {{theatre.name}} - {{theatre.city}}, {{theatre.state_province}}  <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Canadian Railway Hotesl ({{ ca_railway_hotels | length }})</h2>
            </summary>
            {% for hotel in ca_railway_hotels %}
                {{hotel.name}} - {{hotel.city}}, {{hotel.province}}  <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Quaker Meeting Houses ({{ quaker_meeting_houses | length }})</h2>
            </summary>
            {% for meeting in quaker_meeting_houses %}
                {{meeting.city}} - {{meeting.name}}  <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Patagonia Stores ({{ patagonia_stores | length }})</h2>
            </summary>
            {% for store in patagonia_stores %}
                {{store.city}} - {{store.store_name}} <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Michael's Livable Cities ({{ michael_livable | length }})</h2>
            </summary>
            {% for city in michael_livable %}
                {{ city.city }}, {{ city.state_province }} <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Joel's Livable Cities ({{ joel_livable | length }})</h2>
            </summary>
            {% for city in joel_livable %}
                {{ city.city }}, {{ city.state_province }} <br>
            {% endfor %}
        </details>
        <details>
            <summary style="display:inline;">
                <h2>Cities We Both Find Livable ({{ joined_livable | length }})</h2>
            </summary>
            {% for city in joined_livable %}
                {{ city.city }}, {{ city.state_province }} <br>
            {% endfor %}
        </details>
        <!-- <script>
      const locationSelect = document.getElementById("locationSelect");
      const newLocationFields = document.getElementById("newLocationFields");

      locationSelect.addEventListener("change", function () {
        if (this.value === "new") {
          newLocationFields.style.display = "block";
        } else {
          newLocationFields.style.display = "none";
        }
      });
    </script> -->
    </div>
            <a href="/"><h2>Back to Atlas</h2></a>
</body>
</body>

</html>