<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/static/assets/peach_dot.png">
  <!-- <link rel="icon" type="image/x-icon" href="assets/peach_dot.png"> -->

  <link rel="stylesheet" href="/static/css/style.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->

  <meta charset="UTF-8">
  <title>Add Visit</title>

  <style>
    body {
      font-family: 'Playfair Display', serif;
      margin: 20px;
    }

    label {
      margin-right: 12px;
    }
  </style>
</head>

<body>
  <div>
    <img src="/static/assets/paradise_pelican.png" alt="Atlas Paradiso Logo" class="logo" height="170px">
  </div>
  <h1>Add A Visit</h1>

  <div class="rating-row">
    <div class="subtitle">Location Type:</div>
    <select name="location_type">

      {% for location_type in location_types %}
      <option value="{{ location_type.id }}">
        {{ location_type.name.replace('_', ' ').title() }}
      </option>
      {% endfor %}

    </select>
  </div>
  <div class="rating-row">
    <div class="subtitle">Location Name:</div>
    <select name="location_id" id="locationSelect">

      <option value="new">
        + Add Location
      </option>

      {% for location in locations %}
      <option value="{{ location.id }}">
        {{ location.name }}, {{ location.state_province }}, {{ location.country }}
      </option>
      {% endfor %}

    </select>
  </div>
  <div id="newLocationFields" style="display:none; margin-top: 15px;">

    <h4>New Location</h4>

    <input type="text" name="new_location_name" placeholder="City / Location name"><br><br>

    <input type="text" name="new_state" placeholder="State / Province"><br><br>

    <input type="text" name="new_country" placeholder="Country" value="USA"><br><br>

  </div>
  <script>
    const locationSelect = document.getElementById("locationSelect");
    const newLocationFields = document.getElementById("newLocationFields");

    locationSelect.addEventListener("change", function () {
      if (this.value === "new") {
        newLocationFields.style.display = "block";
      } else {
        newLocationFields.style.display = "none";
      }
    });
  </script>
</body>
</body>

</html>