<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="/static/assets/peach_dot.png">
  <!-- <link rel="icon" type="image/x-icon" href="assets/peach_dot.png"> -->

  <link rel="stylesheet" href="/static/css/style.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->

  <meta charset="UTF-8">
  <title>Add A Theatre</title>

  <style>
    body {
      font-family: 'Playfair Display', serif;
      margin: 20px;
    }

    label {
      margin-right: 12px;
    }
  </style>
</head>

<body>
  <a href="/logout">Logout</a>
  <div>
    <img src="/static/assets/paradise_pelican.png" alt="Atlas Paradiso Logo" class="logo" height="170px">
  </div>
  <h1>Add A Theatre</h1>
  <form action="/admin/add_theatre" method="POST">
    <div class="rating-row">
      <div class="subtitle">Visit:</div>
      <select name="visit_id" id="visitSelect">

        {% for visit in visits %}
        <option value="{{ visit.id }}">
          {{ visit.location_name }}, {{ visit.state_province }} [{{ visit.date }}]
        </option>
        {% endfor %}

      </select>
    </div>
    <div id="newTheatreFields" style="display:block; margin-top: 15px;">

      <h4>New Theatre</h4>

      <input type="text" name="new_theatre_name" placeholder="Theatre Name"><br><br>

      <input type="text" name="new_address" placeholder="Address"><br><br>

      <input type="text" name="new_latitude" placeholder="latitude"><br><br>

      <input type="text" name="new_longitude" placeholder="longitude"><br><br>

      <input type="text" name="new_dresser" placeholder="Name"><br><br>

    </div>

    <button type="submit" required>Save Theatre</button>
    <a href="/admin/home">Cancel</a>
  </form>
  <details style="margin-top:30px;">
    <summary>
      <h2 style="display:inline;">
        Add An Image To A Theatre
      </h2>
    </summary>

    <div style="margin-top:20px;">

      <label>Select Theatre:</label>

      <select id="imageTheatreSelect">
        {% for theatre in theatres %}
        <option value="{{ theatre.id }}">
          {{ theatre.name }}
        </option>
        {% endfor %}
      </select>


      <h3>Current Image</h3>

      <img id="theatreImagePreview" src="/static/assets/no_image.webp" width="400" style="border-radius:8px;">


      <h3>Upload New Image</h3>

      <input type="file" id="theatreImageInput" accept="image/*">

      <br><br>

      <button id="uploadTheatreImage">
        Upload Image
      </button>

    </div>

  </details>
</body>
</body>
<script src="/static/js/layers/theatres.js"></script>
</html>