<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="/static/assets/peach_dot.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Atlas Paradiso Admin Home </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
            font-size: 24px;
        }

        a {
            text-decoration: none;
            color: #2c3e50;
            font-weight: bold;
        }

        a:hover {
            color: #007bff;
        }

        .separator {
            margin: 0 10px;
            color: #999;
        }
    </style>
</head>

<body>
    {% if success == "visit_added" %}
    <div class="success-message">
        ✅ Visit successfully added. 😀
    </div>
    {% elif success == "digs_added" %}
    <div class="success-message">
        ✅ Digs successfully added. 🏠
    </div>
    {% elif success == "location_added" %}
    <div class="success-message">
        ✅ Location successfully added. 📍
    </div>
    {% elif success == "theatre_added" %}
    <div class="success-message">
        ✅ Theatre successfully added. 🎭
    </div>
    {% endif %}
    <a href="/logout">Logout</a>
    <div>
        <img src="/static/assets/paradise_pelican.png" alt="Atlas Paradiso Logo" class="logo" height="170px">
    </div>
    <hr class="section-divider">
    <a href="/admin/joel">Joel</a>
    <span class="separator">|</span>
    <a href="/admin/michael">Michael</a>
    <div>
        <a href="/admin/add_visit">Add A Visit</a>
    </div>
    <div>
        <a href="/admin/add_theatre">Add A Theatre</a>
    </div>
    <div>
        <a href="/admin/add_digs">Add Digs</a>
    </div>
    <div>
        <a href="/admin/add_location">Add A Location</a>
    </div>
    <hr class="section-divider">
</body>

</html>